<section class="section-hero overlay inner-page bg-image" style="background-image: url('assets/images/hero_1.jpg');"
  id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold " style="margin-left: 61%;">Recherche</h1>

      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container ">
    <div class="row">

      <div class="col-lg-6" style="margin-left: 23%;">
        <form [formGroup]="searchForm" class="p-4 border rounded img-shadow">

          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="fname">Recherche par téléphone</label>
              <input type="text" formControlName="phone" id="fname" class="form-control">
            </div>

          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Rechercher" (click)="search()" class="btn px-4 btn-primary text-white">
            </div>
          </div>

        </form>
      </div>
  
    </div>
    
  </div>
<div >
  <div *ngFor="let m of searchFacture" style="margin-top: 40px;"  >
    <app-search-result [obj]="m"></app-search-result>
          </div>
        </div>
</section>