<section class="home-section section-hero overlay bg-image" style="background-image: url('assets/images/hero_1.jpg');" id="home-section">
  
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <div class="mb-5 text-center">
            <h1 class="text-white font-weight-bold" style="font-family: Georgia, serif;">Votre Satisfaction Est Notre Priorité</h1>
          </div>
          
        </div>
      </div>
    </div>


  </section>
  
  <section class="site-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h1 class="section-title mb-2">Nos Formations</h1>
        </div>
      </div>
      <app-home-info></app-home-info>
      <app-home-partie></app-home-partie>

    </div>
  </section>