<section class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h2 class="section-title mb-3">Notre équipe</h2>
      </div>
    </div>

    <div class="row align-items-center block__69944">

      <div class="col-md-6">
        <img src="assets/images/person_6.jpg" alt="Image" class="img-fluid mb-4 rounded img-shadow">
      </div>

      <div class="col-md-6">
        <h3>Elisabeth Smith</h3>
        <p class="text-muted">Responsable Marketing</p>
        <p>Notre unique objectif est de vous permettre de réaliser vos ambitions professionnelles : 
          nous étudions précisément les compétences demandées par les entreprises aujourd’hui, 
          et développons nos parcours à partir de ces compétences.</p>
        <div class="social mt-4">
          <a href="#"><span class="icon-facebook"></span></a>
          <a href="#"><span class="icon-twitter"></span></a>
          <a href="#"><span class="icon-instagram"></span></a>
          <a href="#"><span class="icon-linkedin"></span></a>
        </div>
      </div>

      <div class="col-md-6 order-md-2 ml-md-auto">
        <img src="assets/images/person_5.jpg" alt="Image" class="img-fluid mb-4 rounded img-shadow">
      </div>

      <div class="col-md-6">
        <h3>Chintan Patel</h3>
        <p class="text-muted">Content creator</p>
        <p>Notre unique objectif est de vous permettre de réaliser vos ambitions professionnelles : 
          nous étudions précisément les compétences demandées par les entreprises aujourd’hui, 
          et développons nos parcours à partir de ces compétences.</p>        <div class="social mt-4">
          <a href="#"><span class="icon-facebook"></span></a>
          <a href="#"><span class="icon-twitter"></span></a>
          <a href="#"><span class="icon-instagram"></span></a>
          <a href="#"><span class="icon-linkedin"></span></a>
        </div>
      </div>
  </div>
<section>